body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 1200px;
	margin: 0 auto;
	font-size: 14px;
  padding-bottom: 1000px;
}




/* Layers */
.layer {
  margin-top: 30px;
}

.layer h2 {
  font-weight: 100;
  font-size: 24px;
  padding-bottom: 10px;
}

.layer .children {
  position: relative;
  height: 200px;
}

.layer .children .junior {
  color: #aaa;
}

.layer .children .child {
  position: absolute;
  cursor: pointer;
}

.layer .children .child .label {
  padding-top: 8px;
  padding-left: 3px;
  font-size: 11px;
  font-weight: bold;
  /*color: #666;*/
}