body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 1200px;
	margin: 0 auto;
	font-size: 14px;
}




/* Layers */
.layer {
  margin-top: 30px;
}

.layer h2 {
  font-weight: bold;
}

.layer .children .junior {
  color: #aaa;
}