body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 1200px;
	margin: 0 auto;
	font-size: 14px;
  padding-bottom: 1000px;
}




/* Layers */
.layer {
  margin-top: 30px;
}

.layer h2 {
  font-weight: 100;
  font-size: 24px;
  padding-bottom: 10px;
}

.layer .children {
  position: relative;
  height: 200px;
}

.layer .children .junior {
  background-color: #ccc;
}

.layer .children .child {
  position: absolute;
  cursor: pointer;
  display: table;
}

.layer .children .child p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  line-height: 100%;
}