body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 1200px;
	margin: 0 auto;
	font-size: 12px;
  position: relative;
  margin-bottom: 100px;
}

div.legend {
  position: absolute;
  top: 4px;
  right: 0;
}
div.legend span {
  margin-left: 10px;
}

div.chart {
  position: relative;
  width: 800px;
}

div.node {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  padding-top: 4px;
}
div.node .label:hover {
  background-color: lightblue;
}
div.node.junior {
  font-weight: normal;
}

div.children {
  margin-left: 60px;
  padding-left: 2px;
  border-left: 1px solid #eee;
}

i.fa {
  padding-right: 1px;
}

i.fa.group-1 {
  opacity: 0.3;
}
i.fa.group-10 {
  color: black;
}
/*i.fa.group-100 {
  color: black;
}
*/
.tooltip {
  background-color: white;
  padding: 10px;
  font-size: 12px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.tooltip h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
}
.tooltip div {
  margin-bottom: 5px;
}
